.home__box {
    text-align: center;
    h1 {
        font-size: 220px;
        font-family: 'Poppins';
        color: #fefefe;
        font-weight: bold;
        line-height: 1.2;
        text-transform: uppercase;
        text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.06);
    }
    h3 {
        font-size: 36px;
        font-family: 'Poppins';
        color: #323232;
        font-weight: bold;
        line-height: 1.2;
    }
    h4 {
        font-size: 20px;
        font-family: 'Poppins';
        color: #b8b3b2;
        font-weight: bold;
        line-height: 1.2;
    }
}